@charset 'utf-8';
*{
    padding: 0;
    margin: 0;
    list-style-type: none;
}
body{
    height: 1000px;
    background-color: black;
    .glow{
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: #fff;
        box-shadow: 0 0 10px red;
        // z-index: -1;
        pointer-events: none;
    }
}
